.custom-button {
  display: flex;
  border-radius: 40px;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  height: fit-content;
}

.custom-button:hover {
  transition: 0.2s all ease-in-out;
  transform: scaleX(1.05);
}

.custom-button p {
  /* font-family: var(--abeezee); */
  font-size: 8px;
  letter-spacing: 2px;
}
