.companydiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: var(--abeezee);
}

.companydiv > .icon {
  margin-right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--grey);
  border: 2px solid white;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  text-decoration: solid;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
}

.companydiv-text {
  display: flex;
  flex-direction: column;
}

.companydiv-text > h1 {
  font-size: 20px;
  margin-bottom: -15px;
}

.companydiv-text > p {
  font-size: 12px;
}
