.ourclient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 10px;
  font-family: var(--abeezee);
  position: relative;
  margin: 20px 0px;
}

.ourclient h2 {
  font-size: 15px;
  letter-spacing: 2px;
  color: var(--gold);
  margin-bottom: -20px;
}

.ourclient h1 {
  font-size: 40px;
  width: 60%;
  text-align: center;

  line-height: 40px;
}

.comments {
  display: flex;
  flex-direction: row;
}

.comments .review-box {
  background-color: var(--light-black);
  margin: 20px 30px;
  padding: 10px 20px;
  height: 35vh;
}

.review-box .inverted-comma {
  height: 40px;
  width: 40px;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--gold);
  margin-bottom: 10px;
}

.review-box .reviews {
  font-size: 14px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

.profile .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--background);
  margin-right: 10px;
}

.profile .user-profile h3 {
  margin-bottom: -10px;
  font-size: 15px;
}

.profile .user-profile p {
  font-size: 10px;
}
