.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-bottom: 20px;
}

.schedule h2 {
  font-family: var(--abeezee);
  font-size: 15px;
  margin-bottom: -10px;
  color: var(--gold);
}

.schedule h1 {
  font-family: var(--abeezee);
  width: 80%;
  text-align: center;
}
